<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <title>Certificate Generator</title>
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Certificate Generator </a>
</nav>

<div class="container">
    <h1>Certificate Generator built with Springboot</h1>
    <hr/>

    <div class="posts-container">
        <form action="#"
              th:action="@{/}"
              method="POST">
            <div>
                <label for="email">Input Your Email</label>
                <input id="email" type="email" name="email" placeholder="Email" />
            </div>
            <p th:text="${message}">Message</p>
            <button type="submit">Validate</button>
        </form>
    </div>


    <hr />

</div>

</body>
</html>